.current-page {
    font-weight:bold
}

body {
    color: #707070;
    font-family: agenda,sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: auto;
    
}

header{
    background-color: #d6d6d6;
    Padding: 1rem 3rem 1rem 3rem;
}

.top-bar {
    display: grid;
    grid-template-columns: 90% 10%;
    margin: auto;
}

button {
    background: none;
    font-size: 1.5rem;
    color: #707070;
    border: none;
    width: fit-content;
    height: fit-content;
}

ul {
    list-style-type: none;
    line-height: 2rem;
}

.list-1 {
    margin-left: 0;
}

.list-2 {
    margin-left: 1rem;
}

.list-3 {
    margin-left: 2rem;
}

.list-4 {
    margin-left: 3rem;
}

.list-5 {
    margin-left: 3rem;
    margin-bottom: 1rem;
}



.title {
    margin: 2rem 3rem;
}

.subtle {
    margin-bottom: 1rem;
}



.process {
    margin: 2rem 3rem;
}

.process-image {
    margin: 2rem 0rem 0rem 4rem;
    object-fit: cover;
    height: 80%;
    width: 80%;
}

.process-grid {
    display: grid;
    grid-template-columns: 1fr;
}

.media {
    margin: 1rem 0rem;
}

@media screen and (min-width: 800px) {
    .process-grid2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-right: 4rem;
    }

    .final-image {
        margin: 2rem 0rem 0rem 4rem;
        width: 100%;
        height: auto;
    }

    .process-grid3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .media {
        margin: 1rem 1rem;
    }
    }

@media screen and (min-width: 1000px) {
    .process-grid2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    body {
        max-width: 1000px;
    }

    .final-image {
        margin: 2rem 0rem 0rem 4rem;
        width: 120%;
        height: auto;
    }
   
    .process-grid3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .media {
        margin: 1rem 1rem;
    }
    
}

.final {
    background-color: #d6d6d6;
    padding: 0rem 3rem 3rem 3rem;
    line-height: 4rem;
    margin: 2rem 0rem;
}

.final-image {
    margin: 2rem 0rem 0rem 4rem;
    width: 80%;
    height: auto;
}



footer {
    margin: 2rem 3rem;
    padding-bottom: 3rem;
}

.program {
    margin-bottom: 1rem;
}

.projectTitle {
    width: 150px;
}

.programTop {
    margin: 2rem 3rem;
}

.projectLists {
    margin: 2rem 3rem;
}

.ProjectCard {
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
}


.media {display:inline-block;position:relative;vertical-align:top;}
.media-image {display:block;}
.media-body {background:rgba(48,56,67,0.9);bottom:0;color: white;font-size:1em;left:0;opacity:0;overflow:hidden;padding:3.75em 3em;position:absolute;text-align:center;top:0;right:0;-webkit-transition:0.6s;transition:0.6s;}
.media-body:hover {opacity: 1;}

.spring22 {
    margin-top: 2rem;
}
