.current-page {
    font-weight:bold
}

body {
    color: #707070;
    font-family: agenda,sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: auto;
    
}

header{
    background-color: #d6d6d6;
    Padding: 1rem 3rem 1rem 3rem;
}

.top-bar {
    display: grid;
    grid-template-columns: 90% 10%;
    margin: auto;
}

button {
    background: none;
    font-size: 1.5rem;
    color: #707070;
    border: none;
    width: fit-content;
    height: fit-content;
}

ul {
    list-style-type: none;
    line-height: 2rem;
}

.list-1 {
    margin-left: 0;
}

.list-2 {
    margin-left: 1rem;
}

.list-3 {
    margin-left: 2rem;
}

.list-4 {
    margin-left: 3rem;
}

.list-5 {
    margin-left: 3rem;
    margin-bottom: 1rem;
}



.title {
    margin: 2rem 3rem;
}

.subtle {
    margin-bottom: 1rem;
}



.process {
    margin: 2rem 3rem;
}

.process-image {
    margin: 2rem 0rem 0rem 4rem;
    object-fit: cover;
    height: 80%;
    width: 80%;
}

.process-grid {
    display: grid;
    grid-template-columns: 1fr;
}

@media screen and (min-width: 800px) {
    .process-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-right: 4rem;
    }

    .final-image {
        margin: 2rem 0rem 0rem 4rem;
        width: 100%;
        height: auto;
    }
}

@media screen and (min-width: 1000px) {
    .process-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    body {
        max-width: 1000px;
    }

    .final-image {
        margin: 2rem 0rem 0rem 4rem;
        width: 120%;
        height: auto;
    }
}

.final {
    background-color: #d6d6d6;
    padding: 0rem 3rem 3rem 3rem;
    line-height: 4rem;
    margin: 2rem 0rem;
}

.final-image {
    margin: 2rem 0rem 0rem 4rem;
    width: 80%;
    height: auto;
}



footer {
    margin: 2rem 3rem;
    padding-bottom: 3rem;
}

.program {
    margin-bottom: 1rem;
}