.tns-controls{
    display:flex;
    padding-top: 3rem;
    justify-content: space-between;
}

.tns-controls button{
    background-color: white;
    border: 1px solid black;
    margin-right: 1rem;
}